body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #3e88c9;
  padding: 50px;
}

h1 {
  color: #333;
}

.choices button {
    background-color: #333;
    color: aliceblue;
  padding: 15px 30px;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  transition: transform 0.2s;
}

.choices button:hover {
  transform: scale(1.1);
}

#result {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

#scoreboard {
  margin-top: 30px;
  font-size: 18px;
}
